@model IEnumerable<User> 
@{ 
    ViewBag.Title = "All Users";
}

<table class="table">
    <tr><th>Email</th><th>UserName</th><th>Registration date</th><th>Last login date</th></</tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.UserName</td>
            <td>@user.RegistrationDate</td>
            <td>@user.LastLoginDate</td>   
        </tr>
    }
</table>